body{
    margin:0;
    padding:0;
}

.container{
    height:100vh;
    width:100vw;
    background-color: rosybrown;
    display: flex;

}

.sub-container-one{
    flex: 1 1 30%;
    background-color: greenyellow;
}

.sub-container-two{
    flex: 1 1 70%;
    background-color: honeydew;
    display: flex;
    flex-direction: column;
}

.division{
    border: 2px dashed red;
    flex: 1 1 33%;
    
}